import(Biobase)
import(biomaRt)
import(GenomicRanges)
import(methods)
import(parallel)
import(Rsamtools)
import(RSQLite)

importFrom("Biostrings",alphabetFrequency)

importFrom("GenomeInfoDb",dropSeqlevels)
#importFrom("GenomeInfoDb",fetchExtendedChromInfoFromUCSC)
importFrom("GenomeInfoDb",getChromInfoFromUCSC)
importFrom("GenomeInfoDb",seqinfo)
importFrom("GenomeInfoDb",Seqinfo)
importFrom("GenomeInfoDb",seqlevels)
importFrom("GenomeInfoDb",seqlengths)
importFrom("GenomeInfoDb","seqlengths<-")
importFrom("GenomeInfoDb",seqlevelsStyle)
importFrom("GenomeInfoDb","seqlevelsStyle<-")

importFrom("GenomicFeatures",makeTxDbFromGFF)
importFrom("GenomicFeatures",exons)
importFrom("GenomicFeatures",genes)
importFrom("GenomicFeatures","seqlevels<-")
importFrom("GenomicFeatures",transcripts)
importFrom("GenomicFeatures",threeUTRsByTranscript)

importFrom("httr",config)
importFrom("httr",set_config)

importFrom("IRanges",IRanges)
importFrom("IRanges",slice)

importFrom("S4Vectors",DataFrame)
importFrom("S4Vectors",Rle)
importFrom("S4Vectors",queryHits)
importFrom("S4Vectors",subjectHits)

importFrom("utils",download.file)
importFrom("utils",head)
importFrom("utils",packageVersion)
importFrom("utils",read.delim)
importFrom("utils",read.table)
importFrom("utils",write.table)
importFrom("utils",zip)

export(buildAnnotationDatabase)
export(buildCustomAnnotation)
export(getAnnotation)
export(getInstalledAnnotations)
export(getSeqInfo)
export(getUserAnnotations)
export(importCustomAnnotation)
export(loadAnnotation)


s
